*{
  /* border: 1px solid red; */
  box-sizing: border-box;
}

:root {
  --buttonColor: #f68b1e;
  --footer1: #282828;
  --standardMargin: auto 100px;
}


/* Styling Header */

header {
  background-color: white;
}


.far_right_nav .navvy {
  margin-left: 20px;
}

.button button {
  background-color: var(--buttonColor);
  border: none;
  color: white;
  border-radius: 5px;
  padding: 12px 10px;
  margin-left: 10px;
  cursor: pointer;
}


.search_button input {
  width: 100%;
  padding: 10px 40px;
  border: 1px solid #c7c7cd;
  outline: none;
}

.search_button .search {
  position: relative;
  width: 100%;
}

.search_button .search .fas {
  position: absolute;
  left: 4%;
  top: 30%;
}

/* Ends Header section */

/* Styling Menu section */


.border_curve {
    border-radius: 5px;
}



